<section id="about" class="container-fluid paddingContainer">
	<div class="container" id="aboutContainer">
		<h1 class="text-center">Почему мы?</h1>
		<div class="devider deviderBlue text-center">
			<p></p>
			<i class="fa fa-circle"></i> 
			<p></p>
		</div>
		<h3 class="text-center">
			Наша компания в кратчайшие сроки выполнит ремонт любой сложности<div class="span hidden-xs hidden-sm"> Мы ответственно относимся ко всем пожеланиям клиента. Огромный опыт и современное оборудование гарантирует качество и надежность предоставляемых услуг.</div>
		</h3>
		<div class="row" id="aboutImgContainer">
			<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 text-center">
				<%= image_tag "about/house.png" %>
				<h4>Ремонт и отделка квартир</h4>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 text-center">
				<%= image_tag "about/bethroom.png" %>
				<h4>Ремонт ванной комнаты</h4>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 text-center">
				<%= image_tag "about/kitchen.png" %>
				<h4>Ремонт кухни</h4>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 text-center">
				<%= image_tag "about/office.png" %>
				<h4>Ремонт офисов</h4>
			</div>
		</div>
	</div>
</section>