<section id="advantages" class="container-fluid">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
				<h1 class="text-center">НАШИ ПРЕИМУЩЕСТВА</h1>
				<ul>
					<li>Индивидуальный подход к каждому клиенту</li>
					<li>Помощь в закупке и доставке материала</li>
					<li>Бесплатный выезд и составление сметы</li>
					<li>Опыт работы более 30-ти лет</li>
					<li>Гарантия качества</li>
					<li>Поэтапная оплата</li>
				</ul>
			</div>
		</div>
	</div>
</section>