<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
  	<div class="container">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navCollapse">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span> 
	      </button>
	      <a class="navbar-brand link" href="#startPage" id="logo"></a>
	      <a class="navbar-brand link" href="#startPage">Ремонт</a>
	    </div>
	    <div class="collapse navbar-collapse" id="navCollapse">
	      <ul class="nav navbar-nav navbar-right" role="navigation">
	        <li class="active"><a href="#about" data-toggle="tab" class="link">О Нас</a></li>
	        <li><a href="#advantages" data-toggle="tab" class="link">Наши преимущества</a></li>
	        <li><a href="#price" data-toggle="tab" class="link">Цены</a></li> 
	        <li><a href="#gallery" data-toggle="tab" class="link">Галлерея</a></li> 
	        <li><a href="#reviews" data-toggle="tab" class="link">Отзывы</a></li> 
	      </ul>
	    </div>
	</div>
  </div>
</nav>