<section id="price" class="container-fluid paddingContainer">
	<div class="container text-center">
		<h1>Наши Цены</h1>
		<div class="devider deviderBrown text-center">
			<p></p>
			<i class="fa fa-circle"></i> 
			<p></p>
		</div>
		<div class="table-responsive">
			<table class="table table-hover">
				<tr>
					<th>Lorem</th>
					<th>ipsum</th>
					<th>dolar</th>
				</tr>
				<tr>
					<th>Lorem</th>
					<th>ipsum</th>
					<th>dolar</th>
				</tr>
				<tr>
					<th>Lorem</th>
					<th>ipsum</th>
					<th>dolar</th>
				</tr>
				<tr>
					<th>Lorem</th>
					<th>ipsum</th>
					<th>dolar</th>
				</tr>
			</table>
		</div>
	</div>
</section>