<section id="reviews" class="container-fluid">
	<div class="container">
		<h1 class="text-center">Отзывы</h1>
		<div class="devider deviderBrown text-center">
			<p></p>
			<i class="fa fa-circle"></i> 
			<p></p>
		</div>
	</div>
</section>