<section id="startPage" class="container-fluid">
	<div class="container-fluid" id="startPageBackground">
		<div id="startPageContent" class="container">
			<h1>КАЧЕСТВЕННЫЙ РЕМОНТ ПО НИЗКИМ ЦЕНАМ</h1>
			<div class="devider deviderPink">
				<p></p>
				<i class="fa fa-circle"></i> 
				<p></p>
			</div>
			<h2>Создайте уют и гостеприимство в вашем доме</h2>
			<a href="#about" class="link btn btn-default hidden-xs" id="moreBtn">УЗНАТЬ ПОДРОБНЕЕ</a>
			<br/>
			<div id="moreDown">
				<a href="#about" class="link">
					<i class="fa fa-angle-down fa-2x fa-inverse"></i>
				</a>
			</div>
		</div>
	</div>
</section>