// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

$textPink: #f7ede0;
$textBrown: rgb(43, 23, 8);
$textBlue: #00A79D;

body {
	font-family: 'Roboto Condensed', sans-serif;
	background: $textPink;
}

#gallery-modal {
	img {
		border-radius: 5px;
		width: 100%;
	}

	.modal-content {
		background-color: $textPink;

		.modal-header {
			border-bottom: 1px solid rgba(0, 167, 157,0.3);

			button {
				color: $textBlue;
			}
		}
	}
}

.paddingContainer {
	padding: 40px 0px;
}

nav {
	background: rgba(43, 23, 8, 0.9) !important; 
	
	.navbar-toggle {
		margin-top: 15px;
	}

	a {
		color: $textPink !important;
		font-size: 18px !important;
		height: 60px !important;
		padding-top: 20px !important;
	}
	
	#logo {
		padding-top: 15px !important;
	}
}

#startPage { 
	background-image: image-url('startPage.jpg');
	background-position: center;
	background-repeat: none;
	background-size: cover;
	padding: 0px;

	#startPageBackground {
		text-align: center;
		position: relative;
		top: 0;
		left: 0;
		height: 100%;
		background-color: rgba(43, 23, 8, 0.5);

		#startPageContent {
			color: $textPink;
			font-family: 'Poiret One', cursive;
			height: 100%;
			position: relative;
			top: 0;
			left: 0;

			h1 {
				font-size: 46px;
				padding-top: 15%;
			}

			#moreBtn {
				background: none;
				border-color: $textPink;
				color: $textPink;
				font-size: 16px;
				font-weight: 600;
				margin-top: 10%;
				padding: 12px;
				border-radius: 10px;
			}

			#moreDown {
				padding: 0px;
				position: absolute;
				bottom: 15px;
				width: 100%;

				a {
					border: 1px solid $textPink;
					padding: 3px 7px 1px 7px;
					border-radius: 15px;
					display: inline-block;
					margin-right: 30px;

					i {
						color: $textPink;
					}
				}	
			}	
		}
	}
}

.devider {
	margin: 20px 0px 40px 0px;

	p {
		width: 25%;
		display: inline-block;
		margin: 2px 0px;
	}

	i {	
		display: inline-block;
		vertical-align: middle;
		margin: 0px 10px;
	}
}

.deviderPink {
	p {
		border-top: 1px solid $textPink;
	}
	i { 
		color: $textPink;
	}
}

.deviderBlue {
	p {
		border-top: 1px solid $textBlue;
	}
	i { 
		color: $textBlue;
	}
}

.deviderBrown {
	p {
		border-top: 1px solid $textBrown;
	}
	i { 
		color: $textBrown;
	}
}

#aboutContainer {

	#aboutImgContainer {
		margin-top: 20px;
		img {
			width: 50%;
		}
	}
}

#advantages {
	background-position: center;
	background-repeat: none;
	background-size: cover;
	margin-bottom: 20px;
	
	ul {
		h1 {

		}
		
		li {
			font-size: 22px;
			padding: 20px;
			color: $textBrown;
		}
	}
}

@media (min-width: 970px) { 
	#advantages {
		background-image: image-url('advanteges.jpg');
	}
}

@media (max-width: 970px) { 
	#advantages {
		background-image: image-url('advantegesScreen.jpg');
	}
}

#gallery {

	.row div {
		padding: 0px;
	}

	img {
		width: 100%;

		&:hover {
			cursor: pointer;
			opacity: 0.6;
		}
	}
}
